#header {
	padding-top:20px;
	position:relative;
	z-index:999;

	.brand {
		margin:0 auto 20px;
		width:250px;
	}

	.btn-open-sliding-panel {
		background:none $white;
		border:0;
		border-radius:0;
		-webkit-box-shadow:none; // iOS <4.3 & Android <4.1
		box-shadow:none;
		height:25px;
		left:15px;
		outline:none;
		padding:0;
		position:fixed;
		top:15px;
		width:34px;
		z-index:999;

		span {
			background-color:$abbey;
			display:block;
			height:3px;
			left:5px;
			position:absolute;
			top:11px;
			width:24px;

			&:before,
			&:after {
				background-color:$abbey;
				content:'';
				height:3px;
				left:0;
				position:absolute;
				-webkit-transition:all 200ms;
				-o-transition:all 200ms;
				transition:all 200ms;
				width:24px;
			}

			&:before {
				top:-6px;
			}

			&:after {
				top:6px;
			}
		}

		&:hover {
			span {
				&:before {
					-webkit-transform:translate3d(0, -2px, 0);
					transform:translate3d(0, -2px, 0);
				}

				&:after {
					-webkit-transform:translate3d(0, 2px, 0);
					transform:translate3d(0, 2px, 0);
				}
			}
		}
	}
}