html {
	font-size:100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body,
input,
select,
button,
textarea {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
}

body {
	color:$abbey;
	font-family:$font-family-base;
	font-size:100%;
	min-width:320px;
	text-rendering:optimizeLegibility;
	width:100%;
}

a,
button {
	outline:none;

	&:focus,
	&:active {
		outline:none;
	}
}

h1,
.h1 {

}

pre {
	white-space:normal;
}

.editor {
	a {
		&:visited {

		}

		&:hover {

		}
	}

	h2,
	.h2 {

	}

	h3,
	.h3 {

	}

	h4,
	.h4 {

	}

	h5,
	.h5 {

	}

	h6,
	.h6 {

	}

	p {

	}

	blockquote {

	}

	ul {
		li {
			ul {

			}

			li {

			}
		}
	}

	ol {
		li {
			ol {

			}

			li {

			}
		}
	}

	figure {
		max-width:100%;
	}

	img {
		display:block;
		height:auto;
		max-width:100%;
	}
}