// Colors
$abbey: #4d4d4f;
$affair: #8c4a8f;
$atlantis: #70d03d;
$black: #000;
$bondi-blue: #00b1b0;
$broom: #ffe512;
$cerulean: #00aced;
$chambray: #3b5998;
$deep-cerulean: #007bb5;
$fushia-pink: #c551b4;
$gallery: #ececec;
$lavender-gray: #c7c1de;
$punch: #dd4b39;
$robins-egg-blue: #00b8b4;
$rose: #ff0088;
$rouge: #a54398;
$silver: #c7c7c7;
$white: #fff;

// Fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Cabin', sans-serif;