/**
 * Base styles for plugin to work
 */
body {
	width: 100%;

	&.sliding-panel-is-animating-in,
	&.sliding-panel-is-open {
		overflow: hidden;
	}
}

#site-wrapper { // This div needs to wrap everything between the body tag
	overflow: hidden;
	width: 100%;
}

.btn-open-sliding-panel {
	touch-action: manipulation;
}

#sliding-panel {
	backface-visibility: hidden;
	background-color: #4d4d4f;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: transform 200ms ease-in, visibility 0s linear 200ms;
	visibility: hidden;
	width: 75%;
	z-index: 99999;

	@media (min-width: 768px) {
		width: 50%;
	}

	@media (min-width: 1200px) {
		width: 33.3333%
	}

	.btn-close-sliding-panel {
		background: none transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		cursor: pointer;
		height: 24px;
		outline: none;
		padding: 0;
		position: absolute;
		right: 15px;
		top: 15px;
		touch-action: manipulation;
		user-select: none;
		white-space: nowrap;
		width: 24px;
		z-index: 2;

		&:before,
		&:after {
			background-color: #fff;
			content: '';
			height: 3px;
			left: 50%;
			margin: -2px 0 0 -15px;
			position: absolute;
			top: 50%;
			width: 30px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(135deg);
		}
	}

	.sliding-panel-overflow {
		bottom: 0;
		left: 0;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		right: 0;
		top: 53px;
		z-index: 1;

		// Remove/hide scrollbar
		margin-right: -20px;
		padding-right: 20px;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */

		&::-webkit-scrollbar {
			display: none;  /* Safari and Chrome */
		}
	}

	&.appear-from-left {
		left: 0;
		transform: translate3d(-100%, 0, 0);
	}

	&.appear-from-right {
		right: 0;
		transform: translate3d(100%, 0, 0);
	}
}

#sliding-panel-overlay {
	backface-visibility: hidden;
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: background-color 200ms linear, visibility 0s linear 200ms;
	visibility: hidden;
	z-index: 99991;
}


.sliding-panel-is-animating,
.sliding-panel-is-open {
	#sliding-panel {
		overflow: visible;
	}
}

.sliding-panel-is-animating-in,
.sliding-panel-is-open {
	#sliding-panel {
		transform: translate3d(0, 0, 0);
		transition: transform 200ms ease-out;
		visibility: visible;
	}

	#sliding-panel-overlay {
		background-color: rgba(0, 0, 0, .9);
		transition: background-color 200ms linear;
		visibility: visible;
	}
}